<div *ngIf="shoppingItems$ | async as shoppingItems" class="shopping-list">
    <div class="list-item" *ngIf="shoppingItems.length==0"><span>List is empty</span></div>
    <div *ngIf="shoppingItems.length>0">
        <table mat-table [dataSource]="shoppingItems" class="mat-elevation-z8">
          <ng-container matColumnDef="itemName" >
            <td mat-cell *matCellDef="let element" id="name-container" class="itemName"> 
                <mat-form-field id="name-input">
                  <mat-label></mat-label>
                  <input matInput [(ngModel)]="element.itemName"  
                    width="50"
                    (change)="updateItemName(element)" 
                    (focus)="pauseRefreshTimer()" 
                    (focusout)="startRefreshTimer()" 
                    placeholder="{{element.itemName}}">
                </mat-form-field>
             </td>
          </ng-container>
          <ng-container matColumnDef="count" >
            <td mat-cell *matCellDef="let element"id="count-container" > 
              <button class="table-button" (click)="increaseCount(element)" >
                <mat-icon>keyboard_arrow_up</mat-icon>
              </button>
              <div id="count-input">
                {{element.count}}
              </div>
              <button class="table-button" (click)="decreaseCount(element)" >
                <mat-icon>keyboard_arrow_down</mat-icon>
              </button> 
              <button class="table-button" (click)="deleteFromList(element.barcode)" >
                <mat-icon>delete</mat-icon>
              </button> 
            </td>
          </ng-container>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
        </table>
        <br>
        <div id="button-line">
          <button (click)="addToList()">Add Item</button>
          <button (click)="clearList()">Clear List</button>
        </div>
    </div>
</div>




